parser/xml/schemas/abbyy_after_cleaner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="page" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="block" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="par" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="line" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="formatting" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="lang" use="optional"/>
                                        <xs:attribute type="xs:string" name="ff" use="required"/>
                                        <xs:attribute type="xs:float" name="fs" use="required"/>
                                        <xs:attribute type="xs:byte" name="spacing" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:int" name="baseline" use="optional"/>
                              <xs:attribute type="xs:short" name="l" use="required"/>
                              <xs:attribute type="xs:short" name="t" use="required"/>
                              <xs:attribute type="xs:short" name="r" use="required"/>
                              <xs:attribute type="xs:short" name="b" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="l" use="optional"/>
                        <xs:attribute type="xs:short" name="t" use="optional"/>
                        <xs:attribute type="xs:short" name="r" use="optional"/>
                        <xs:attribute type="xs:short" name="b" use="optional"/>
                        <xs:attribute type="xs:string" name="align" use="optional"/>
                        <xs:attribute type="xs:short" name="lineSpacing" use="optional"/>
                        <xs:attribute type="xs:short" name="leftIndent" use="optional"/>
                        <xs:attribute type="xs:short" name="startIndent" use="optional"/>
                        <xs:attribute type="xs:short" name="rightIndent" use="optional"/>
                        <xs:attribute type="xs:byte" name="dropCapCharsCount" use="optional"/>
                        <xs:attribute type="xs:short" name="dropCap-l" use="optional"/>
                        <xs:attribute type="xs:short" name="dropCap-t" use="optional"/>
                        <xs:attribute type="xs:short" name="dropCap-r" use="optional"/>
                        <xs:attribute type="xs:short" name="dropCap-b" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="blockType" use="required"/>
                  <xs:attribute type="xs:short" name="l" use="required"/>
                  <xs:attribute type="xs:short" name="t" use="required"/>
                  <xs:attribute type="xs:short" name="r" use="required"/>
                  <xs:attribute type="xs:short" name="b" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="width" use="required"/>
            <xs:attribute type="xs:short" name="height" use="required"/>
            <xs:attribute type="xs:short" name="resolution" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
      <xs:attribute type="xs:string" name="producer"/>
      <xs:attribute type="xs:byte" name="pagesCount"/>
      <xs:attribute type="xs:string" name="mainLanguage"/>
      <xs:attribute type="xs:string" name="languages"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

